<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/anointing.css">
    <title>Anointing</title>
  </head>
  <body>

    <header>
    </header>

    <div class="mainheader">
      <h1 class="maintitle" style="display:inline;">Anointing of The Sick</h1>
    </div>

    <p class="Mainbodytext">The anointing of the sick is administered to bring spiritual and even physical strength to a person during an illness, especially near times of death.
      It is most likely one of the last sacraments a person will receive. When the Sacrament of Anointing of the Sick is given, the hope is that it will be God’s will that the person can be
      physically healed of his/her illness.
      Even if there is no physical healing the primary effect of the Sacrament is a spiritual healing by which the sick person receives the Holy Spirit’s gift of peace and courage to deal with the difficulties presented by the illness or old age.
      This sacrament may be repeated if the sick person recovers after the anointing but becomes sick again or if the same illness comes back or worsens.
      The anointing of the sick is important because it is often the final prayers and blessings a person will receive before their death and them going to heaven.
      Anyone who is baptized and of the age where he/she can go to confession is able to receive the sacrament of the anointing of the sick.
      In many churches, people sick and healthy can receive the sacrament. Ofter however you will receive it when you are close to death or in danger from sickness or old age.
      It is important to the Church that people receive this sacrament as not only a means to heal ones physical self but also their inner soul. This sacrament is a cleansing of your
      body which prepares you for heaven.
    </p>

    <p style="margin-top: 10px;" class="Mainbodytext"><b>Symbols of Anointing:</b></p>

    <ul  style="font-family: 'Asap', sans-serif; margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
      <li>Oil</li>
      <li>The sign of the cross</li>
      <li>Laying on of hands and words</li>
    </ul>
    <img width="350" height="350" style="Transform: TranslateX(300px);" src="https://i.pinimg.com/originals/1b/71/89/1b7189ff69d82babbddc1d98ab5bf26d.jpg" alt="">
  </body>
</html>
