<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/baptism.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <title>Baptism</title>
  </head>
  <body>

    <header>
    </header>

    <div class="mainheader">
      <h1 class="maintitle" style="display:inline;">Baptism</h1>
    </div>

    <p class="Mainbodytext">Baptism is often seen as the sacrament of admission to the faith as it is the first sacrament and establishes God into your life and you as a part of the Catholic Church. It is
    very important to be baptized because the sacrament is a requirement for salvation so anyone, even non-baptized people can baptize someone as the situation requires. In Catholicism, the baptism of
  infants is most commonly performed. Any unbaptized children or adults must be baptized to join the faith. The sacrament of baptism can only be performed once in a persons life and the
    Catholic Church recognizes baptisms by most other christian denominations as valid. Baptism makes a person an adopted son or daughter of God. Baptism is what enters us into union with Christ.
  It establishes a real spiritual connection to the death, resurrection and burial of Jesus Christ. It also allows us access to the other sacraments.</p>
  <p style="margin-top: 10px;" class="Mainbodytext"><b>Symbols of Baptism:</b></p>

  <ul style="font-family: 'Asap', sans-serif; margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
  <li>
    Water
  </li>
  <li>Oil</li>
  <li>Baptismal garment</li>
  <li>Candle</li>
  <li>Dove</li>
  <li>Flame</li>
  <li>Baptismal font</li>
  <li>Seashell</li>
  <li>Fish</li>
  </ul>
  <img id="photo1" width="280" height="375" src="https://i.pinimg.com/originals/f9/28/01/f928019b331792ed5ba491787cdeaa61.png" alt="">
  <img id="seashell" width="280" height="375" src="https://i.pinimg.com/originals/2e/00/a9/2e00a9be44b5223db3a3e82de8c0dafd.png" alt="">
  </body>
</html>
