<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/confirmation.css">
    <title>Confirmation</title>
  </head>
  <body>

    <header>
    </header>

    <div class="mainheader">
      <h1 class="maintitle" style="display:inline;">Confirmation</h1>
    </div>

    <p class="Mainbodytext">As the name suggests, confirmation confirms the faith given in Baptism and makes it strong. Confirmation means accepting responsibility for your faith and destiny.
    As children we are told what to do and react positively to reward and negatively to punishment. From young adulthood to adulthood we must do what is right on our own.
  The focus of Confirmation is on the Holy Spirit, who confirmed the apostles on Pentacost and gave them courage to practice their faith. We as catholics believe that the same Holy Spirit
  confirms Catholics during Confirmation and gives them the same gifts and fruits. The purpose of being confirmed is therefore to receive and make strong the same gifts we were given at baptism. We
get confirmed to confirm out faith to God, like baptism the sacrament can only be performed once. Unlike being baptized as an infant, confirmation is your descision to continue with the faith.
As infants most of us don't get a choice but when we are confirmed we have a choice if we choose to accept God's gifts.It is important to receive the sacrament so that you may be made a part of Jesus’ army.
When you are confirmed you are made a soldier of Christ. This is a spiritual duty to fight the war between good and evil, light and darkness. It is a duty to fight the war between the human race and the powers of hell.
In the East, confirmation happens immediately after baptism. In the West, however, the sacrament is reserved for those who can understand it's significance. You can now be confirmed as early as the
age of 7 for children who were baptized as infants but it is commonly received around the age of 13. For adult converts, it is performed immediately after baptism.</p>
  <p style="margin-top: 10px;" class="Mainbodytext"><b>Symbols of Confirmation:</b></p>
  <ul style="font-family: 'Asap', sans-serif; margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
    <li>Oil</li>
    <li>The laying on of hands</li>
    <li>Dove</li>
    <li>A flame or tongue of fire</li>
    <li>A lamp</li>
    <li>Mitre and staff</li>
  </ul>
  <img style="Transform: TranslateX(300px);" src="https://www.holyspiritwichita.com/images/stories/confirmation.png" alt="">
  <img width="350" height="350" style="Transform: TranslateX(300px);" src="http://flameoffaith.org.au/assets/uploads/symbols-oils@2x.png" alt="">
  </body>
</html>
