<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/eucharist.css">
    <title>Eucharist</title>
  </head>
  <body>

    <header>
    </header>

    <div class="mainheader">
      <h1 class="maintitle" style="display:inline;">Eucharist</h1>
    </div>

    <p class="Mainbodytext">
      The Eucharist or Holy Communion was designed to commemerate the death of Christ as we can tell from "This do in remembrance of me". It is another step in elevating your faith
      to God as it is the first time you receive the Eucharist. It is an important sacrament to receive because when someone receives the Eucharist they are inviting Jesus into their life
      to be a part of them. They are inviting Jesus into their own body to help them act as he would. A baptized child's First Communion is often celebrated around age seven or eight and
      is preceded by their first confession (the sacrament of Reconciliation). After your First Communion you can take the Eucharist daily if desired. It is important to the Church because
      it helps people invite God and Jesus into their lives by accepting the body of Christ in the form on the Eucharist. It bring people on step closer to the gates of Heaven and to God.
    </p>
    <p style="margin-top: 10px;" class="Mainbodytext"><b>Symbols of Eucharist:</b></p>
    <ul style="font-family: 'Asap', sans-serif; margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
      <li>The cross</li>
      <li>Bread</li>
      <li>Wine</li>
      <li>The sign of the cross</li>
      <li>Laying on of the hands</li>
    </ul>
    <img style="Transform: TranslateX(200px);" src="https://lh3.googleusercontent.com/proxy/k9ng6datTSCP7RBSizIkfAYZwjU2vCB6M-e69f3BkJnt08a9GVcTEeMr-BdOYmKdA0xN9NqfKQ04CXa-u2rdpgs4IemAApkIbNlD" alt="">
  </body>
</html>
