<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/marriage.css">
    <title>Holy Orders</title>
  </head>
  <body>

    <header>
    </header>

    <div class="mainheader">
      <h1 class="maintitle" style="display:inline;">Holy Orders or Ordination</h1>
    </div>

    <p class="Mainbodytext">
      Holy Order is a sacrament that is only available to men who are being ordained as deacons, priests or bishops.
      Through the sacrament of holy orders, a man vows to lead other Catholics by bringing them the Eucharist.
      There are three stages of Holy Orders, being ordained as a deacon, being ordained as a priest and being ordained as a bishop.
      It would be important to someone to receive this sacrament to become a religious figure and be a guiding light to catholics.
      Someone would find receiving the Holy Orders important if they looked up to someone in their church and wanted to return the favour.
      As a layman older than the age of discretion may be ordained to a deacon, then a deacon to a priest, then a priest to a bishop it is easy to get ordained and become a part of the Church.
      It is important to the Church that you receive the Holy Orders because you are then carrying on the light that leads the way of many catholics, young and old.
      Receiving this sacrament means accepting the roles and responsibilities of a deacon, priest, or bishop. To the Church this is one of the most significant things a man can do in his lifetime.
    </p>
    <p style="margin-top: 10px;" class="Mainbodytext"><b>Symbols of Holy Orders:</b></p>

    <ul style="font-family: 'Asap', sans-serif; margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
      <li>The stole</li>
      <li>Oil</li>
      <li>Laying on of the hands</li>
      <li>The chalice</li>
      <li>Paten</li>
    </ul>
    <img style="Transform: TranslateX(300px);" src="https://i.pinimg.com/originals/a1/0a/b8/a10ab846f1b2f574300fb5c063931703.jpg" alt="">
  </body>
</html>
