<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/master.css">
    <title>Seven Sacraments</title>
  </head>
  <body>
    <header>
    </header>
    <div class="mainheader">
      <h1 class="maintitle" style="display:inline;">The Seven Sacraments</h1>
    </div>

    <div class="container">
      <div class="text">
        <h2 class="SacramentName">Sacraments of Initiation</h2>
          <ul style="margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
            <li>
              <a class="link" href="baptism">Baptism</a>
            </li>
            <li>
              <a class="link" href="confirmation">Confirmation</a>
            </li>
            <li>
              <a class="link" href="eucharist">Eucharist</a>
            </li>
          </ul>
      </div>

    <div class="text">
        <h2 class="SacramentName">Sacraments of Healing</h2>
          <ul style="margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
            <li>
              <a class="link" href="penance">Penance or Reconciliation</a>
            </li>
            <li>
              <a class="link" href="anointing">Anointing of The Sick</a>
            </li>
          </ul>
    </div>

    <div class=text>
        <h2 class="SacramentName">Sacraments of Service</h2>
          <ul style="margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
            <li>
              <a class="link" href="marriage">Marriage</a>
            </li>
            <li>
              <a class="link" href="holyorders">Holy Order</a>
            </li>
          </ul>
    </div>
    <img class="image" id="allSacramentsImage" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fbtckstorage.blob.core.windows.net%2Fsite17167%2FSacraments.png&f=1&nofb=1" alt="Sacraments image">
      </div>








  </body>
</html>
