<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/marriage.css">
    <title>Marriage</title>
  </head>
  <body>

    <header>
    </header>

    <div class="mainheader">
      <h1 class="maintitle" style="display:inline;">Marriage</h1>
    </div>

    <p class="Mainbodytext">
      Marriage is the sacrament that a baptized man and a baptized women administer to each other through their marriage vows and lifelong partnership.
      Marriage, at a basic level, is a union for the purpose of procreation, mutual support and love. Marriage is important because it is supposed to
      unite someone with their lifelong partner for which they love unconditionally. It is what is the biggest announcement of love and seals a couple
      together. Marriage may take place when a couple is ready to commit part of their life to the other person for as long as they live, through thick and thin,
      through good health and poor, it may take place when they are ready to love one another unconditionally. It is important to the Catholic Church that
      you marry because certain things like reproducing is supposed to take place after being married. It is also a sign from God showing his love for his children.
    </p>

    <p style="margin-top: 10px;" class="Mainbodytext"><b>Symbols of Marriage:</b></p>
    <ul style="font-family: 'Asap', sans-serif; margin:0; margin-left: 75px; padding:0;" align="left" type="disc">
      <li>Wedding Rings</li>
      <li>Bridal veil</li>
      <li>The unity candles</li>
      <li>The Holy Bible</li>
    </ul>
    <img width="350" height="350" style="Transform: TranslateX(200px);" src="https://lh3.googleusercontent.com/proxy/DAExWcBo9Hkf5lWk7jyBIoXYh9WAvyUjNXH4Ce1Od3-rraBMFaxt5xniSVY7XyZ553qOyg-uQWUFMDrkMQG4Sx2_o_wGuAIcwA" alt="">
    <img width="350" height="350" style="Transform: TranslateX(200px);"src="https://freesvg.org/img/Anonymous_Closed_Bible.png" alt="">
  </body>
</html>
